{{ define "content" }}
<h2>{{.Title}}</h2>

{{if .Tasks}}
<ul>
    {{range .Tasks}}
    <li>
        <strong>ID:</strong> {{.Id}}<br>
        <strong>Description:</strong> {{.Description}}<br>
        <strong>Status:</strong> {{.Status}}<br>
        <strong>Created At:</strong> {{.CreatedAt.Format "02 Jan 2006 15:04:05"}}<br>
        <strong>Updated At:</strong> {{.UpdateAt.Format "02 Jan 2006 15:04:05"}}<br>
        
        
        <button onclick="toggleVisibility('desc-form-{{.Id}}')">Edit Description</button>
        <form id="desc-form-{{.Id}}" action="/tasks/updateDescription/{{.Id}}" method="post" style="display:none;">
            <label for="description">New Description:</label>
            <input type="text" name="description" id="description" value="{{.Description}}" required>
            <button type="submit">Update Description</button>
        </form>

       
        <button onclick="toggleVisibility('status-form-{{.Id}}')">Edit Status</button>
        <form id="status-form-{{.Id}}" action="/tasks/updateStatus/{{.Id}}" method="post" style="display:none;">
            <label for="status">New Status:</label>
            <select name="status" id="status">
                <option value="todo" {{if eq .Status "todo" }} selected{{end}}>todo</option>
                <option value="in-progress" {{if eq .Status "in-progress" }} selected{{end}}>in-progress</option>
                <option value="done" {{if eq .Status "done" }} selected{{end}}>done</option>
            </select>
            <button type="submit">Update Status</button>
        </form>

        
        <form id="delete-form-{{.Id}}" action="/tasks/delete/{{.Id}}" method="post" style="display:flexbox;" onsubmit="return confirm('Are you sure you want to delete this task?');">
            <button type="submit">Delete Task</button>
        </form>

        <hr>
    </li>
    {{end}}
</ul>
{{else}}
<p>No tasks available.</p>
{{end}}


<script>
function toggleVisibility(formId) {
    var form = document.getElementById(formId);
    if (form.style.display === "none") {
        form.style.display = "block";
    } else {
        form.style.display = "none";
    }
}
</script>
{{ end }}
